* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.py text eol=lf
*.R text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
*.svg text eol=lf
*.xlsx binary
*.gz binary
*.png binary
*.tif binary
*.pdf binary
